# Genel dosyalar
HELP.md

# Derleme ve yapı dosyaları
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE dosyaları
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Log dosyaları
*.log

# Çeşitli
*.bak
*.swp
*.tmp
*.old

# Çevresel değişkenler ve hassas bilgiler
.env
.env.local
.env.*
secrets/